<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csi.dao.QuestionMapper" >
 <resultMap id="BaseResultMap" type="com.csi.entity.Question" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="question_type" property="questionType" jdbcType="VARCHAR" />
    <result column="options" property="options" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="course" property="course" jdbcType="VARCHAR" />
     <result column="paper_id" property="paperId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, answer, question_type, options, score ,course, paper_id
</sql>

  <select id="findAllCachet" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from question
</select>

    <insert id="insertQuestion" parameterType="com.csi.entity.Question">
        insert into question (title,answer,question_type,optionA,optionB,optionC,optionD,score,course,paper_id)     
        values (#{title},#{answer},#{questionType},#{optionA},#{optionB},#{optionC},#{optionD},#{score},#{course},#{paperId})
    </insert>
</mapper>