<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csi.dao.TestPaperMapper" >
  <resultMap id="BaseResultMap" type="com.csi.entity.TestPaper" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="question_ids" property="questionIds" jdbcType="VARCHAR" />
    <result column="scordId" property="scordid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, question_ids, scordId
  </sql>
   <select id="findAllTestPaper" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from test_paper
</select>
</mapper>